################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EMConsole/obj
/EMDataAccess/obj
/EMConsole/.vs
/EMDataAccess/.vs
